<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Result</title>
</head>
<body>
    <div class="container">
        {% if success_message %}
        <div class="alert alert-success">
            {{ success_message }}
            <a href="{% url 'user_playlist:manage_downloaded_songs' %}"><button class="button">KE DAFTAR DOWNLOAD</button></a>
            <a href="{% url 'user_playlist:play_song' playlist_id=playlist_id song_id=song_id %}"><button class="button">KEMBALI</button></a>
        </div>
        {% endif %}

        {% if error_message %}
        <div class="alert alert-danger">
            {{ error_message }}
            <a href="{% url 'user_playlist:detail_user_playlist' playlist_id=playlist_id %}"><button class="button">KE PLAYLIST</button></a>
            <a href="{% url 'user_playlist:play_song' playlist_id=playlist_id song_id=song_id %}"><button class="button">KEMBALI</button></a>
        </div>
        {% endif %}
    </div>
</body>