<!DOCTYPE html>
<html>
    {% include 'nav.html' %}
<head>
    <title>Cek Royalti</title>
</head>
<body>
    <h1>Daftar Royalti</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Judul Lagu</th>
                <th>Judul Album</th>
                <th>Total Play</th>
                <th>Total Download</th>
                <th>Total Royalti Didapat</th>
            </tr>
        </thead>
        <tbody>
            {% for royalti in royalti_list %}
            <tr>
                <td>{{ royalti.0 }}</td>
                <td>{{ royalti.1 }}</td>
                <td>{{ royalti.2 }}</td>
                <td>{{ royalti.3 }}</td>
                <td>Rp {{ royalti.4 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
