<!DOCTYPE html>
<html>
<head>
    <title>Multiselect Example</title>
</head>
<body>
    <form action="/album_song_royalti/submit" method="post">
        <label for="names">Choose names:</label><br>
        <select id="names" name="names" multiple size="4">
            <option value="sa">sa</option>
            <option value="be">be</option>
            <option value="bu">bu</option>
            <option value="ji">ji</option>
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>