<nav class="navbar">
    <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Kelola Album</a></li>
        <li><a href="#">Cek Royalti</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</nav>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Kelola Album & Song</title>
    <!-- Link CSS di sini -->
    <link rel="stylesheet" href="styles.css">
</head>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelola Album</title>
    <!-- Link CSS di sini -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- LIST ALBUM table -->
    <h2>LIST ALBUM</h2>
    <table>
        <tr>
            <th>Judul</th>
            <th>Jumlah Lagu</th>
            <th>Total Durasi</th>
            <th>Action</th>
        </tr>
        <!-- Dummy data -->
        <tr>
            <td>Album1</td>
            <td>0</td>
            <td>0 menit</td>
            <td>
                <a href="#">Lihat Daftar Lagu</a>
                <a href="#">Hapus</a>
            </td>
        </tr>
        <tr>
            <td>Album2</td>
            <td>2</td>
            <td>4 menit</td>
            <td>
                <a href="#">Lihat Daftar Lagu</a>
                <a href="#">Hapus</a>
            </td>
        </tr>
        <!-- Dummy data ends -->
    </table>

    <!-- DAFTAR LAGU PADA ALBUM1 table -->
    <h2>DAFTAR LAGU PADA ALBUM1</h2>
    <table>
        <tr>
            <th>Judul</th>
            <th>Durasi</th>
            <th>Total Play</th>
            <th>Total Download</th>
            <th>Action</th>
        </tr>
        <!-- Dummy data -->
        <tr>
            <td>Lagu1</td>
            <td>2 menit</td>
            <td>3</td>
            <td>0</td>
            <td>
                <a href="#">Lihat Detail</a>
                <a href="#">Hapus</a>
            </td>
        </tr>
        <tr>
            <td>Lagu2</td>
            <td>3 menit</td>
            <td>2</td>
            <td>2</td>
            <td>
                <a href="#">Lihat Detail</a>
                <a href="#">Hapus</a>
            </td>
        </tr>
        <!-- Dummy data ends -->
    </table>
</body>
</html>
