{% extends 'base.html' %}

{% block meta %}
<style>
    .custom-search-box {
      max-width: 500px;
      position: absolute;
      top: 20px;
      right: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
    }

    .search-btn {
      width: 100%;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-end">
      <div class="col-auto">
        <form action="/search/" method="GET">
            <div class="input-group custom-search-box">
                <input type="text" class="form-control" name="query" placeholder="Search...">
                <div class="input-group-append">
                  <button class="btn btn-primary search-btn ms-2" type="submit">Search</button>
                </div>
            </div>
        </form>
      </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width: 50%; margin: auto auto;"">
    <thead>
        <tr>
            <th colspan="4" style="text-align: center;"> Hasil Pencarian "{{ judul }}" </th>
        </tr>
    </thead>

    <thead>
      <tr style="text-align: center;">
        <th scope="col"> Tipe </th>
        <th scope="col"> Judul </th>
        <th scope="col"> Oleh </th>
        <th scope="col"> Actions </th>
      </tr>
    </thead>

    <tbody>
        {% for lagu in daftar_lagu %}
            <tr style="text-align: center;">
            {%for detail in lagu%}
                <td>{{ detail }}</td>
            {% endfor %}
            <td>
                <a href="" style="text-decoration: none;"> [Lihat] </a>
            </td>

            </tr>
        {% endfor %}
    </tbody>

  </table>
{% endblock content %}