<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link CSS di sini -->
    <style>
        .container {
            text-align: center;
        }

        .container button {
            display: block;
            width: 200px;
            height: 50px;
            margin: 10px auto;
            padding: 10px;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Registrasi</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2>Register</h2>
        <button onclick="register('pengguna')">Pengguna</button>
        <button onclick="register('label')">Label</button>
    </div>

    <script>
        function register(role) {
            // Lakukan sesuatu sesuai dengan peran yang dipilih
            alert('Anda memilih role: ' + role);
        }
    </script>
</body>
</html>
