{% extends 'base.html' %}

{% block meta %}
<!-- <style>
    .custom-search-box {
      max-width: 500px;
      position: absolute;
      top: 5px;
      right: 5px;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
    }

    .search-btn {
      width: 100%;
    }

    .navbar {
    background-color: #007bff; /* Warna latar belakang navbar */
    overflow: hidden;
}

.navbar ul {
    list-style-type: none; /* Menghilangkan bullet list */
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #0056b3; /* Warna latar belakang saat mouse hover */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}
</style> -->
{% endblock meta %}

{% block content %}
<!-- <div class="navbar">
  <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Chart</a></li>
      <li><a href="#">Search Bar</a></li>
      <li><a href="#">Kelola Playlist</a></li>
      <li><a href="#">Langganan Paket</a></li>
      <li><a href="#">Logout</a></li>
  </ul>
</div> -->

<div class="container my-5 p-auto">
    <div class="row justify-content-end">
      <div class="col-auto">
        <form action="/search/" method="GET" class="p-auto">
            <div class="input-group custom-search-box">
                <input type="text" class="form-control" name="query" placeholder="Search...">
                <div class="input-group-append">
                  <button class="btn btn-primary search-btn ms-2" type="submit">Search</button>
                </div>
            </div>
        </form>
      </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width: 50%; margin: auto auto;"">
    <thead>
        <tr>
            <th colspan="4" style="text-align: center;"> Hasil Pencarian "{{ search_substring }}" </th>
        </tr>
    </thead>

    <thead>
      <tr style="text-align: center;">
        <th scope="col"> Tipe </th>
        <th scope="col"> Judul </th>
        <th scope="col"> Oleh </th>
        <th scope="col"> Actions </th>
      </tr>
    </thead>

    <tbody>
        {% for song in songs %}
        <tr style="text-align: center;">
          <td>
            SONG
          </td>
          <td>
            {{ song.0 }}
          </td>
          <td>
            {{ song.1 }}
          </td>
          <td>
            <a href="#"> Lihat </a>
          </td>
        </tr>
        {% endfor %}

        {% for judul, oleh, id in podcasts%}
        <tr style="text-align: center;">
          <td>
            PODCAST
          </td>
          <td>
            {{ judul }}
          </td>
          <td>
            {{ oleh }}
          </td>
          <td>
            <a href="#"> Lihat </a>
          </td>
        </tr>
        {% endfor %}

        {% for judul, oleh, id in playlists %}
        <tr style="text-align: center;">
          <td>
            USER PLAYLIST
          </td>
          <td>
            {{ judul }}
          </td>
          <td>
            {{ oleh }}
          </td>
          
          <td>
            <a href="{% url 'user_playlist:detail_user_playlist' playlist_id=id %}"> Lihat </a>
          </td>
          
        </tr>

        {% endfor %}
    </tbody>

  </table>
{% endblock content %}