<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Marmut</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not request.session.user_data.is_logged_in %}
                    <!-- Navbar for guests -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'akun:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'akun:register_choice' %}">Registrasi</a>
                    </li>
                {% else %}
                    <!-- Navbar for logged-in users -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'akun:dashboard' %}">Dashboard</a>
                    </li>
                    {% with user_data=request.session.user_data %}
                        
                        {% if not user_data.is_label %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Chart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'search:show_cari_konten' %}">Search Bar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user_playlist:show_user_playlist' %}">Kelola Playlist</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'langganan:show_langganan_paket' %}">Langganan Paket</a>
                            </li>
                        {% endif %}
                        {% if user_data.is_premium %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'download:show_downloaded_song' %}">Kelola Downloaded Songs</a>
                            </li>
                        {% endif %}
                        {% if user_data.is_podcaster %}
                            <li class="nav-item">
                                <a class="nav-link" href="">Kelola Podcast</a>
                            </li>
                        {% endif %}
                        {% if user_data.is_artist or user_data.is_songwriter %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'entry_album_song_create_list' %}">Kelola Album & Songs</a>
                            </li>
                        {% endif %}
                        {% if user_data.is_label %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'list_album' %}">Kelola Album</a>
                            </li>
                        {% endif %}
                        {% if user_data.is_artist or user_data.is_songwriter or user_data.is_label %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'cek_royalti' %}">Cek Royalti</a>
                            </li>
                        {% endif %}
                    {% endwith %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'akun:logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
