

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not is_logged_in %}
                    <!-- Navbar for guests -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Registrasi</a>
                    </li>
                {% else %}
                    <!-- Navbar for logged-in users -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    {% if is_user or is_artist or is_songwriter or is_podcaster %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Chart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Search Bar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kelola Playlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Langganan Paket</a>
                        </li>
                    {% endif %}
                    {% if is_premium %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kelola Downloaded Songs</a>
                        </li>
                    {% endif %}
                    {% if is_podcaster %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kelola Podcast</a>
                        </li>
                    {% endif %}
                    {% if is_artist or is_songwriter %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kelola Album & Songs</a>
                        </li>
                    {% endif %}
                    {% if is_label %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kelola Album</a>
                        </li>
                    {% endif %}
                    {% if is_artist or is_songwriter or is_label %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cek Royalti</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
