{% extends 'base.html' %}

{% block content %}

<div style="border: 2px solid black; padding: 10px; border-radius: 10px;">

    <h3 style="text-align: center; margin-top: 50px;">Pembayaran Paket</h3>

    <p style="text-align: center;">Informasi Paket yang Ingin Dibeli</p>

    <div class="table-responsive">
        <table class="table table-bordered" style="width: 50%; margin: 50px auto;">
            <thead>
                <tr>
                    <th scope="col">Jenis</th>
                    <th scope="col">Harga</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{jenis_paket}}</td>
                    <td>{{harga_paket}}</td>
                </tr>
            </tbody>

        </table>
    </div>


    <div style="text-align: center;">
        <p style="display: inline-block; margin-right: 10px;">Metode pembayaran:</p>
        <div style="display: inline-block; vertical-align: middle;">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Transfer Bank
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" onclick="changeDropdownValue('Transfer Bank')">Transfer Bank</li>
                    <li class="dropdown-item" onclick="changeDropdownValue('Kartu Kredit')">Kartu Kredit</li>
                    <li class="dropdown-item" onclick="changeDropdownValue('E-wallet')">E-wallet</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 10px; margin-bottom: 20px;">
        <a href="#" style="text-decoration: none;">Submit</a>
    </div>

</div>

<script>
    function changeDropdownValue(value) {
        document.getElementById('dropdownMenuButton').innerHTML = value;
    }
</script>
{% endblock content %}
