<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CHART DETAIL</title>
</head>

<body>
    <h1>CHART DETAIL</h1>
    <p><strong>Tipe: Daily Top 20</strong></p>
    <div>
        <a href="#">Kembali</a>
    </div>
    <table>
        <thead>
            <tr>
                <th colspan="5">DAFTAR LAGU</th>
            </tr>
            <tr>
                <th>Judul Lagu</th>
                <th>Oleh</th>
                <th>Tanggal Rilis</th>
                <th>Total Plays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Song1</td>
                <td>Artist1</td>
                <td>09/03/2024</td>
                <td>21000</td>
                <td><a href="#">Lihat</a></td>
            </tr>
            <tr>
                <td>Song2</td>
                <td>Artist2</td>
                <td>02/03/2024</td>
                <td>19000</td>
                <td><a href="#">Lihat</a></td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>
</body>
</html>


